/* .avatars {
    display: inline-block;
    transform: scale(-1, 1);
  }
  
  .avatar {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
  }
  
  .avatar:not(:first-child) {
    margin-left: -40px;
  }
  
  .avatar:not(:hover) {
      /* margin-bottom: -100px; */
    /* margin-left: -40px; */
  /* }
  
  .avatar:hover{
  }
  .avatar img {
    width: 100%;
    display: block;
    transform: scale(-1, 1);
  } */ 
header{
  /* background-image: url(../images/samsung-exynos-2400\ 1.png); */
} 

body{
  font-family: Vazirmatn;}

