.avatars {
    display: inline-block;
    transform: scale(-1, 1);
  }
  
  .avatar {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 30%;
  }
  
  .avatar:not(:first-child) {
    margin-left: -29px;
  }
  

  

  .avatar img {
    width: 100%;
    display: block;
    transform: scale(-1, 1);
  } */ 
header{
  /* background-image: url(../images/samsung-exynos-2400\ 1.png); */
} 

body{
  font-family: Vazirmatn;}


.fa-solid{
  line-height: 0.75;
}

/* .mn{
  display: grid; 
} */